{% extends "admin/login.html" %}

{% block extrahead %}
    {# https://developers.google.com/identity/gsi/web/guides/client-library #}
    <script src="https://accounts.google.com/gsi/client" async></script>
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if google_client_id %}
        <p class="clear"></p>

        {# https://developers.google.com/identity/gsi/web/tools/configurator で生成 #}
        <div id="g_id_onload"
             data-client_id="{{ google_client_id }}"
             data-context="signin"
             data-ux_mode="popup"
             data-login_uri="{{ auth_url }}"
             data-auto_select="true"
             data-itp_support="true"
             data-csrfmiddlewaretoken="{{ csrf_token }}" {# CSRFトークンと next クエリを auth_url に送る #}
             data-next="{{ request.GET.next }}">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-shape="rectangular"
             data-theme="outline"
             data-text="signin_with"
             data-size="large"
             data-logo_alignment="left">
        </div>
    {% endif %}
{% endblock %}
